#backgroundWrapper {
  background: linear-gradient(to bottom left, #660033 0%, #cc3300 100%);
  width: 100vw;
  height: 100vh;
}

#number-block {
  display: inline-block;
  margin-left: 35vw;
  margin-top: 20vh;
  width: 30vw;
  height: 60vh;
  background-color: pink;
  border-style: solid;
  border-width: 5px;
}

#number-circle {
  height: 10vw;
  width: 10vw;
  margin: auto;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align:center;
  vertical-align:middle;
}

.circle {
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  font-size: 5vw;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background: red;
  display: inline-block;
  margin: auto;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  background-color: blue;
  margin-left: 8vw;
  margin-top: 4vh;
}

.input-textbox {
  border-style: solid;
  border-width: 5px;
  border-color: black;
  margin-top: 3vh;
  margin-left: 5vw;
  width: 20vw;
  height: 5vh;
  font-size: 3vh;
  text-align: center;
}
